.table {
    margin-top: 20px;
}

#countries {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  #countries td, #customers th {
    border: 2px solid #ddd;
    padding: 2px;
  }
  
  #countries tr:nth-child(even){background-color: #f2f2f2;}
  
  #countries tr:hover {background-color: #ddd;}
  
  #countries th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

.center-div
{
     margin: 0 auto;
     width: 400px; 
}